<div
  class="w-full h-full flex items-center justify-between bg-light-accent text-dark-main dark:bg-dark-accent dark:text-white px-4 shadow-lg"
>
  <button (click)="toggleSidebar()" class="focus:outline-none ml-4">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" width="24px" viewBox="0 -960 960 960" fill="currentColor">
      <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm280-80h280v-560H480v560Z"/>
    </svg>
  </button>

  <app-selector
    [options]="llmModels"
    (selectionChange)="onModelSelected($event)"
    class="flex-1"
  ></app-selector>

  <!-- User Icon with Dropdown -->
  <div class="relative ml-4 dropdown-container">
    <button (click)="toggleDropdown()" class="focus:outline-none">
      <svg
        class="w-8 h-8 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          fill-rule="evenodd"
          d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z"
          clip-rule="evenodd"
        />
      </svg>
    </button>

    <!-- Dropdown Menu -->
    @if (isDropdownOpen) {
      <div
        class="absolute right-0 w-48 bg-white dark:bg-dark-main border border-gray-200 dark:border-gray-700 rounded-md shadow-lg z-10"
      >
      <ul class="text-sm text-gray-700 dark:text-gray-300">
        <li class="h-full px-4 py-2 flex items-center hover:bg-gray-100 dark:hover:bg-gray-600 hover:rounded-t-sm">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
          </svg>
          
          <span class="ml-2">Profile</span>
        </li>
        <li class="h-full px-4 py-2 flex items-center hover:bg-gray-100 dark:hover:bg-gray-600">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M9.586 2.586A2 2 0 0 1 11 2h2a2 2 0 0 1 2 2v.089l.473.196.063-.063a2.002 2.002 0 0 1 2.828 0l1.414 1.414a2 2 0 0 1 0 2.827l-.063.064.196.473H20a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2h-.089l-.196.473.063.063a2.002 2.002 0 0 1 0 2.828l-1.414 1.414a2 2 0 0 1-2.828 0l-.063-.063-.473.196V20a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2v-.089l-.473-.196-.063.063a2.002 2.002 0 0 1-2.828 0l-1.414-1.414a2 2 0 0 1 0-2.827l.063-.064L4.089 15H4a2 2 0 0 1-2-2v-2a2 2 0 0 1 2-2h.09l.195-.473-.063-.063a2 2 0 0 1 0-2.828l1.414-1.414a2 2 0 0 1 2.827 0l.064.063L9 4.089V4a2 2 0 0 1 .586-1.414ZM8 12a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z" clip-rule="evenodd"/>
          </svg>
          <span class="ml-2">Settings</span>
        </li>
        <li class="h-12 cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 flex items-center px-4"
          (click)="themeToggle.toggleTheme()">
          <app-theme-toggle [isIconOnly]="false" #themeToggle class="w-full"></app-theme-toggle>
        </li>
        <li class="h-full px-4 py-2 flex items-center hover:bg-red-300 dark:hover:bg-red-900 hover:rounded-b-sm">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
          </svg>
          <span class="ml-2">Logout</span>
        </li>
      </ul>
      
      </div>
    }
  </div>
</div>
