<div class="mr-auto w-full my-2 group">
  <div class="flex">
    <!-- First Row: Avatar and Message -->
    <div class="flex-shrink-0 text-main-terciary mr-4 p-2 text-dark-secondary">
      <div class="w-8 h-8">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
          <path d="M160-360q-50 0-85-35t-35-85q0-50 35-85t85-35v-80q0-33 23.5-56.5T240-760h120q0-50 35-85t85-35q50 0 85 35t35 85h120q33 0 56.5 23.5T800-680v80q50 0 85 35t35 85q0 50-35 85t-85 35v160q0 33-23.5 56.5T720-120H240q-33 0-56.5-23.5T160-200v-160Zm200-80q25 0 42.5-17.5T420-500q0-25-17.5-42.5T360-560q-25 0-42.5 17.5T300-500q0 25 17.5 42.5T360-440Zm240 0q25 0 42.5-17.5T660-500q0-25-17.5-42.5T600-560q-25 0-42.5 17.5T540-500q0 25 17.5 42.5T600-440ZM320-280h320v-80H320v80Zm-80 80h480v-480H240v480Zm240-240Z"/>
        </svg>
      </div>
    </div>

    <!-- Message Content -->
    <div class="flex-1 whitespace-pre-wrap">
      <div class="p-2 rounded-lg text-black dark:text-white">
        {{ message }}
      </div>

      <!-- Option Buttons -->
      <div class="p-3 opacity-0 group-hover:opacity-100 pointer-events-none group-hover:pointer-events-auto transition-opacity duration-150 justify-start items-center space-x-4 text-sm text-main-secondary-light">
        <!-- Vote Buttons -->
        <app-chatbot-prompt-vote [voteStyle]="'rating'" [maxRating]="5"></app-chatbot-prompt-vote>
      
        <!-- Copy to Clipboard -->
        <button class="hover:text-main-secondary hover:dark:text-main-primary"
        (click)="copyToClipboard()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M9 8v3a1 1 0 0 1-1 1H5m11 4h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-7a1 1 0 0 0-1 1v1m4 3v10a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-7.13a1 1 0 0 1 .24-.65L7.7 8.35A1 1 0 0 1 8.46 8H13a1 1 0 0 1 1 1Z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
