<div #chatHistoryContainer class="slender-scrollbar flex-grow h-full w-full p-4 overflow-y-auto" (scroll)="onScroll()">
  @for (msg of messages; track msg.id) {
    @if (msg.role === 'user') {
      <app-user-message
        [message]="msg.content"
        [role]="msg.role"
        class="w-full"
      ></app-user-message>
    }
    @else {
      <app-chatbot-message
        [message]="msg.content"
        [role]="msg.role"
        class="w-full"
      ></app-chatbot-message>
    }
  }
</div>

@if (!isAtBottom) {
  <div class="absolute bottom-24 p-4 flex center">
    <button
      (click)="scrollToBottom()"
      class="p-2 rounded-full bg-main-primary hover:bg-main-secondary hover:text-white text-main-secondary dark:bg-dark-primary dark:text-dark-secondary dark:hover:bg-dark-dark shadow-lg"
      aria-label="Scroll to bottom"
    >
    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19V5m0 14-4-4m4 4 4-4"/>
    </svg>    
    </button>
  </div>
  
}
