<app-blank-modal
  [modalConfig]="{
    title: 'User Settings',
    optionToListenFor: 'user_settings',
    isSubmitEnabled: false
  }"
>
  <ng-template>
    <div class="flex flex-col space-y-2 text-black dark:text-white">
        <div class="flex items-center space-x-2">
            <h5 class="w-[10%]">Option:</h5>
            <app-selector
            #apiSelector
                [id]="'exampleUserSelector'"
                [defaultMessage]="'Select Option...'"
                [defaultSelectionID]="1"
                [options]="[
                  { id: 1, value: 'Option 1' },
                  { id: 2, value: 'Option 2' }
                ]"
                class="w-full">
            </app-selector>
        </div>
    </div>
  </ng-template>
</app-blank-modal>
