/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$color-light-main: #fffefe;
$color-light-accent: #f1f2f6;
$color-light-dark: #818594;

$color-dark-main: #0e1118;
$color-dark-accent: #262730;
$color-dark-dark: #a0a6b7;