/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$color-main-bg: #fffefe;
$color-main-primary: #f1f2f6;
$color-main-terciary: #818594;

$color-dark-primary: #0e1118;
$color-dark-secondary: #262730;
$color-dark-dark: #a0a6b7;

.slender-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.slender-scrollbar::-webkit-scrollbar-track {
  background: #f1f2f6;
}

.slender-scrollbar::-webkit-scrollbar-thumb {
  background-color: #818594;
  border-radius: 10px;
  border: 2px solid #f1f2f6;
}

.dark .slender-scrollbar::-webkit-scrollbar-track {
  background: #262730;
}

.dark .slender-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0a6b7;
  border: 2px solid #262730;
}


.sidebar {
  width: 256px;
  height: 100vh;
  background-color: var(--color-main-bg);
}

.sub-section-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.nested-sub-section {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.drop-active {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed #4a90e2;
}

.feather-horizontal {
  position: relative;
  mask-image: linear-gradient(to right, transparent, black 1%, black 98%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 1%, black 98%, transparent);
}

.feather-vertical {
  position: relative;
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}
